
@import 'reset';
@import 'compare';
@import 'gallery';
@import 'carrousel';
@import 'rating';

h2 {
  font-size: 30px;
  margin: 10px 0;
}

body {
  transition: background-color 1s ease;
}

.catbg {
  height: 200px;
  width: 300px;
  background-image: url(../images/download.jpg);
}